/* imports  */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /* ## Colors */

  /* ### Primary */

  --Blue: hsl(246, 80%, 60%);

  /* WORK  */
  --LightRed: hsl(15, 100%, 70%);

  /* PLAY  */
  --SoftBlue: hsl(195, 74%, 62%);

  /* STUDY */
  --LightPink: hsl(348, 100%, 68%);

  /* EXERCISE */
  --LimeGreen: hsl(145, 58%, 55%);

  /* SOCIAL  */
  --Violet: hsl(264, 64%, 52%);

  /* SELF CARE  */
  --SoftOrange: hsl(43, 84%, 65%);

  /* ### Neutral */

  --VeryDarkBlue: hsl(226, 43%, 10%);
  --DarkBlue: hsl(235, 46%, 20%);
  --DesaturatedBlue: hsl(235, 45%, 61%);
  --DesaturatedBlue2: hsl(235, 45%, 41%);
  --PaleBlue: hsl(236, 100%, 87%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  background-color: var(--VeryDarkBlue);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 3rem 1rem;
}

/* USERS LIST  */
.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  place-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.users-list li {
  width: 100px;
}
.users-list li button {
  padding: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--PaleBlue);
  color: var(--VeryDarkBlue);
  border-radius: 0.2rem;
  cursor: pointer;
}

.users-list li button:hover,
.users-list li.active button {
  background-color: var(--Blue);
  color: var(--PaleBlue);
}

/* user-profile  */

.user-profile {
  border-radius: 0.5rem;
  height: 250px;
  display: grid;
  grid-template-rows: 1fr 70px;
  background-color: var(--DarkBlue);
  border-radius: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: var(--Blue);
  border-radius: 1rem;
  padding-inline: 1rem;
}

.user-avatar {
  height: 100px;
  width: 100px;
}

.user-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user-name span {
  color: var(--PaleBlue);
}
.user-name h2 {
  font-weight: 400;
  color: var(--white);
}

.frames {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}
.frame {
  color: var(--DesaturatedBlue);
  cursor: pointer;
}
.frame:hover {
  color: var(--white);
}

/* ACTIVITIES  */

.activities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
}

/* ACTIVITY  */
.activity {
  height: 250px;
  border-radius: 1rem 1rem 2rem 2rem;
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  align-items: flex-end;
}

.activity div {
  height: 80%;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--DarkBlue);
  display: grid;
  grid-template-areas:
    "title icon"
    "previous current";
  align-items: center;
  padding: 1rem;
}

.Work {
  background-color: var(--LightRed);
  background-image: url("../../public/images/icon-Work.svg");
}
.Play {
  background-color: var(--SoftBlue);
  background-image: url("../../public/images/icon-Play.svg");
}
.Study {
  background-color: var(--LightPink);
  background-image: url("../../public/images/icon-Study.svg");
}
.Exercise {
  background-color: var(--LimeGreen);
  background-image: url("../../public/images/icon-Exercise.svg");
}
.Social {
  background-color: var(--Violet);
  background-image: url("../../public/images/icon-Social.svg");
}
.Self-Care {
  background-color: var(--LightPink);
  background-image: url("../../public/images/icon-Self-Care.svg");
}
